/* TODO: Definir navbar para moviles */

nav {
    background-color: #161A1D;
    font-size: 1.125rem;
    color: #FFFFFF;
}

nav div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav :first-child {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

.underlined:hover {
    color: #D3D3D3;
}

.underlined {
    position: relative;
}

.underlined:hover::after {
    transform: scale(1);
    background-color: currentColor;
}

.underlined::after {
    content: "";
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    position: absolute;
    transform: scale(0);
    transform-origin: middle;
    transition: transform .30s ease;
}
