/* TODO: Definir navbar para moviles */

nav {
    background-color: var(--dark-muted);
    color: var(--white);
}

nav div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.125rem;
}
