
/* TODO: definir bien los colores del hover, para amntener consistencia */
.hero .underlined:hover {
    color: var(--red-dark);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    color: var(--dark-muted);
}

.profile-pic {
    background-color: var(--red-light);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.hero div p:nth-child(2) {
    color: var(--red);
}

.hero .profile-pic {
    margin-bottom: 2rem;
}

.hero h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.hero p:first-child {
    margin-bottom: 1rem;
}

.hero p:nth-child(2) a {
    margin: 0 0.4rem;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--grey);
    padding: .7rem;
    font-size: inherit;
    font-family: inherit;
    position: relative;
    overflow: hidden;
}

button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    left: 0;
    top: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

button:hover::after {
    transform: scaleX(1);
}

button:hover {
    border-width: 3px;
}