<app-navbar></app-navbar>
<section class="hero text-center mx-auto max-w-8xl">
    <!-- TODO: Colocar una animacion -->
    <img class="profile-pic" src="profile.jpg" alt="icon">
    <h1 class="uppercase">
        Isai Gómez
    </h1>
    <div>
        <p>Junior developer full stack</p>
        <p>
            @for (companyUrl of companyUrls; track companyUrl.name){
                <a [href]="companyUrl.url" target="_blank" class="underlined uppercase">{{ companyUrl.name }}</a> 
            }
        </p>
    </div>
</section>
<section class="about mx-auto max-w-8xl text-center">
    <div class="wrapper">
        <h2 class="uppercase">About us</h2>
        <img src="isai-leon.jpg" class="profile-pic" alt="Isai in Leon" width="180" height="300"/>
        <!-- TODO: Acomodar el texto que se ve todo amontonado -->
        <p class="text-justify">
            Hi, I’m Isai, a student that live in Mexico, I studied information and comunication technologies in the “Instituto Tecnológico de Morelia”, México. I consider myself a technologies fan since I was a child expecialy with my Pc’s an videogames(Download, installing and repair software or hardware). Currently I am a web programmer, especially in the front-end and followed by the back-end.
        <br>
        I have worked on many amateur and professional projects using CSS, JS, PHP, ANGULAR, SQL SERVER, MARIADB, GIT, DOCKER, ANDROID STUDIO(KOTLIN), and PYTHON.
        </p>
        <!-- TODO: Buscarle un uso al boton -->
        <!-- <button>
          <span>
            Get in touch
          </span>
        </button> -->
    </div>
</section>

<section class="proyects mx-auto max-w-8x1 text-center">
    <h2 class="uppercase">projects</h2>

    <!-- TODO: En algunos puntos de pantalla hay desbordamiento y se muestran tre proyectos en lugar de dos pro ejemplo -->
    <ul class="slider" appSlider [items]="projects" [visibleItems]="visibleProjects" [isDotAvailable]="true">
        <li class="overflow-hidden" *ngFor="let project of projects">
            <article>
                <img [src]="project.image" alt="hero de emkode" [width]="imageWidth" [height]="imageHeight" priority>
                <div>
                    <div class="text-left overflow-hidden">
                        <p><strong >{{ project.name }}</strong>
                        </p>
                        <span class="text-grey-muted">
                            <small>
                                {{ project.description }}
                            </small>
                        </span>
                    </div>
                    <!-- TODO: buscar un mejor icono de la flecha o arreglarlo con css -->
                    <!-- NOTE: Aqui encontre con codigo: https://www.toptal.com/designers/htmlarrows/arrows/ -->
                    <button type="button" (click)="popup.showAsComponent(project.allurls)">&#10132;</button>
                </div>
            </article>
        </li>
        <button class="arrow left prev-btn">&#10094;</button>
        <button class="arrow right next-btn">&#10095;</button>
        <div class="dots"></div>
    </ul>
</section>
<section class="experience mx-auto max-w-8x1 text-center">
    <h2 class="uppercase">My work experience</h2>

    <!-- TODO: Agregar un limite a los costados, ya que al agregar mas items ocupan todo el ancho de la pantalla -->
    <ul>
        <li>
            <div class="emkode-logo"></div>
            <div class="text-left">
                <h3>emkode</h3>
                <p>Full-stack developer</p>
                <p>presential | remote</p>
                <time class="uppercase">
                    jan - jul 2023
                </time>
            </div>
        </li>
        <li>
            <div class="cao-logo"></div>
            <div class="text-left">
                <h3>cao</h3>
                <p>Full-stack developer</p>
                <p>remote</p>
                <time class="uppercase">
                    jul - oct 2022
                </time>
            </div>
        </li>
    </ul>
</section>
<app-footer></app-footer>