<app-navbar></app-navbar>
<section class="hero text-center mx-auto max-w-8xl">
    <!-- TODO: Colocar mi foto de perfil y una animacion -->
    <div class="profile-pic">
    </div>
    <h1 class="uppercase">
        Isai Gómez
    </h1>
    <div>
        <p>Junior developer full stack</p>
        <p>
            @for (companyUrl of companyUrls; track companyUrl.name){
                <a [href]="companyUrl.url" target="_blank" class="underlined uppercase">{{ companyUrl.name }}</a> 
            }
        </p>
    </div>
</section>
<section class="about mx-auto max-w-8xl text-center">
    <div class="wrapper">
        <h2 class="uppercase">About us</h2>
        <div class="profile-pic"></div> <!--TODO: poner una foto mia aqui-->
        <p class="text-justify">Hi, I'm Isai. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <button>
          <span>
            Get in touch
          </span>
        </button>
    </div>
</section>

<section class="proyects mx-auto max-w-8x1 text-center">
    <h2 class="uppercase">projects</h2>

    <!-- TODO: APlicar mediante codigo un slider, que en web se mantenga en 3 items(por defecto), pero mediante la reduccion de la pantalla, esta redusca los items en 1 -->
    <ul class="slider">
        <li *ngFor="let project of projects.slice(currentIndex, currentIndex + visibleProjects)">
            <article>
                <div class="picture"></div>
                <div>
                    <div class="text-left overflow-hidden">
                        <p><strong>{{ project.name }}</strong>
                        </p>
                        <span class="text-grey-muted">
                            <small>
                                {{ project.description }}
                            </small>
                        </span>
                    </div>
                    <!-- TODO: buscar un mejor icono de la flecha o arreglarlo con css -->
                    <!-- NOTE: Aqui encontre con codigo: https://www.toptal.com/designers/htmlarrows/arrows/ -->
                    <button type="button" (click)="popup.showAsComponent(input.value)">&#10132;</button>
                </div>
            </article>
        </li>
        <!-- TOODO: Esconder los botones, en pantallas chicas -->
        <button class="arrow left" (click)="previousSlide()">&#10094;</button>
        <button class="arrow right" (click)="nextSlide()">&#10095;</button>

        <div class="dots">
            <span *ngFor="let i of generateDotArray(); let idx = index"
                class="dot"
                [class.active]="idx === numDots"
                (click)="goToSlide(idx)"></span>
        </div>
    </ul>
</section>
<section class="experience mx-auto max-w-8x1 text-center">
    <h2 class="uppercase">My work experience</h2>

    <ul>
        <li>
            <div class="picture"></div>
            <div class="text-left">
                <h3>emkode</h3>
                <p>Full-stack developer</p>
                <p>presential | remote</p>
                <time class="uppercase">
                    jan - jul 2023
                </time>
            </div>
        </li>
        <li>
            <div class="picture"></div>
            <div class="text-left">
                <h3>cao</h3>
                <p>Full-stack developer</p>
                <p>remote</p>
                <time class="uppercase">
                    jul - oct 2022
                </time>
            </div>
        </li>
    </ul>
</section>

<!-- TODO: implemetar esto para los modales -->
<!-- TODO: Analizar si show as element se elimina o se queda, y hacer lo debido con ello -->
<input #input value="Message" />
<button type="button" (click)="popup.showAsComponent(input.value)">Show as component</button>
<button type="button" (click)="popup.showAsElement(input.value)">Show as element</button>
<app-footer></app-footer>