
/* TODO: definir bien los colores del hover, para amntener consistencia */
/* TODO: definir el espaciado que tendra el sitio, a los costados en mobile */
h2 { /*TODO: checar si esto no afecta a los demas componentes*/
    margin-bottom: 3rem;
}

.hero .underlined:hover {
    color: var(--red-dark);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5.5rem;
    margin-bottom: 4rem;
    color: var(--dark-muted);
}

.hero .profile-pic {
    background-color: var(--red-light);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.hero div p:nth-child(2) {
    color: var(--red);
}

.hero h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.hero p:first-child {
    margin-bottom: 1rem;
}

.hero p:nth-child(2) a {
    margin: 0 0.4rem;
}

.about {
    display: flex;
    width: 100%;
    justify-content: center;
}

.about .wrapper {
    max-width: 50rem;
    min-width: 18rem;
    padding: 1rem; /* TODO: Ajustar los costados para movile, segun mi estandar */
}

.about .profile-pic { /* TODO: cambiarle el nombre, una vez que le ponga la foto  */
    width: 150px;
    height: 250px;
    background-color: var(--red-dark);
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
}

.about .wrapper button {
    float: right;
}

.about .wrapper p {
    margin-bottom: 4rem;
}

.picture {
    width: 300px;
    background-color: var(--red-muted);
    height: 150px;
}

.proyects {
    overflow: auto; /* TODO: ver si, despues de la aplicacion del slider mediante codigo, se sigue ocupando esto */
}

.proyects article {
    padding: 1.2rem;
}

.proyects ul {
    overflow: overlay; /* TODO: ver si, despues de la aplicacion del slider mediante codigo, se sigue ocupando esto */
    max-width: 1150px;
    column-gap: 15px;
}

.proyects ul li {
    border: 1px solid var(--grey-muted);
}

.proyects article div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.proyects button {
    border-radius: 50%;
    line-height: 1;
    font-size: 1.7rem;
    font-family: inherit;
}

.experience ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.experience li {
    border: 1px solid var(--grey-muted);
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    flex: 1 0 400px;
    max-width: 350px;
    min-width: 250px;
}

.experience .picture {
    width: 110px;
    height: 100%;
    background-color: #A4161A;
}

.hero,
.about,
.proyects,
.experience {
    margin-bottom: 10rem;
}