<app-navbar></app-navbar>
<section class="hero text-center mx-auto max-w-8xl">
    <!-- TODO: Colocar una animacion -->
    <img class="profile-pic" src="profile.jpg" alt="icon">
    <h1 class="uppercase">
        Isai Gómez
    </h1>
    <div>
        <p>Junior developer full stack</p>
        <p>
            @for (companyUrl of companyUrls; track companyUrl.name){
                <a [href]="companyUrl.url" target="_blank" class="underlined uppercase">{{ companyUrl.name }}</a> 
            }
        </p>
    </div>
</section>
<section class="about mx-auto max-w-8xl text-center">
    <div class="wrapper">
        <h2 class="uppercase">About us</h2>
        <img src="isai-leon.jpg" class="profile-pic" alt="Isai in Leon" width="180" height="300"/>
        <p class="text-justify">Hi, I'm Isai. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <button>
          <span>
            Get in touch
          </span>
        </button>
    </div>
</section>

<section class="proyects mx-auto max-w-8x1 text-center">
    <h2 class="uppercase">projects</h2>

    <!-- TODO: En algunos puntos de pantalla hay desbordamiento y se muestran tre proyectos en lugar de dos pro ejemplo -->
    <ul class="slider" appSlider [items]="projects" [visibleItems]="visibleProjects">
        <li class="overflow-hidden" *ngFor="let project of projects">
            <article>
                <img [src]="project.image" alt="hero de emkode" [width]="imageWidth" [height]="imageHeight" priority>
                <div>
                    <div class="text-left overflow-hidden">
                        <p><strong >{{ project.name }}</strong>
                        </p>
                        <span class="text-grey-muted">
                            <small>
                                {{ project.description }}
                            </small>
                        </span>
                    </div>
                    <!-- TODO: buscar un mejor icono de la flecha o arreglarlo con css -->
                    <!-- NOTE: Aqui encontre con codigo: https://www.toptal.com/designers/htmlarrows/arrows/ -->
                    <button type="button" (click)="popup.showAsComponent(project.allurls)">&#10132;</button>
                </div>
            </article>
        </li>
        <!-- TOODO: Esconder los botones, en pantallas chicas -->
        <button class="arrow left prev-btn">&#10094;</button>
        <button class="arrow right next-btn">&#10095;</button>

        <!-- TODO: Quitar una vez que el dot clickeado, quede marcado -->
        <!-- <div class="dots">
            <span *ngFor="let i of generateDotArray(); let idx = index"
                class="dot"
                [class.active]="idx === numDots"
                (click)="goToSlide(idx)"></span>
        </div> -->
        <div class="dots">
            <!-- <span class="dot"></span> -->
        </div>
    </ul>
</section>
<section class="experience mx-auto max-w-8x1 text-center">
    <h2 class="uppercase">My work experience</h2>

    <!-- TODO: Agregar un limite a los costados, ya que al agregar mas items ocupan todo el ancho de la pantalla -->
    <ul>
        <li>
            <div class="emkode-logo"></div>
            <div class="text-left">
                <h3>emkode</h3>
                <p>Full-stack developer</p>
                <p>presential | remote</p>
                <time class="uppercase">
                    jan - jul 2023
                </time>
            </div>
        </li>
        <li>
            <div class="cao-logo"></div>
            <div class="text-left">
                <h3>cao</h3>
                <p>Full-stack developer</p>
                <p>remote</p>
                <time class="uppercase">
                    jul - oct 2022
                </time>
            </div>
        </li>
    </ul>
</section>
<app-footer></app-footer>