
/* TODO: definir bien los colores del hover, para amntener consistencia */
/* TODO: definir el espaciado que tendra el sitio, a los costados en mobile */
.hero .underlined:hover {
    color: var(--red-dark);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5.5rem;
    margin-bottom: 4rem;
    color: var(--dark-muted);
}

.hero .profile-pic {
    background-color: var(--red-light);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.hero div p:nth-child(2) {
    color: var(--red);
}

.hero h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.hero p:first-child {
    margin-bottom: 1rem;
}

.hero p:nth-child(2) a {
    margin: 0 0.4rem;
}

.about {
    display: flex;
    width: 100%;
    justify-content: center;
}

.about .wrapper {
    max-width: 50rem;
    min-width: 18rem;
    padding: 1rem; /* TODO: Ajustar los costados para movile, segun mi estandar */
}

.about .profile-pic { /* TODO: cambiarle el nombre, una vez que le ponga la foto  */
    width: 150px;
    height: 250px;
    background-color: var(--red-dark);
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
}

.about .wrapper button {
    float: right;
}

.about .wrapper p {
    margin-bottom: 4rem;
}