<div class="popup">
    <!-- TODO: Hacer que el icon de cruz sea concruente con el de la fleha o con el sitio en general -->
    <button type="button" (click)="closed.next()">✖</button>
  <article>
    <!-- TODO: Hacer que las imagenes, se renderizen mas rapido -->
    <div class="container">
      <img src="{{ message.imageUrl }}" alt="imagen de mi trabajo"  width="100%" height="100%">
    </div>
    <div>
      <h3>{{ message.title }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p> 
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <ul>
        <li>
          <span>Type:</span>
          <span>{{ message.properties.type }}</span>
        </li>
        <li>
          <span>Languages:</span>
          <span>{{ message.properties.lenguage }}</span>
        </li>
        <li>
          <span>Tools:</span>
          <span>{{ message.properties.tools }}</span>
        </li>
        <li>
          <span>Country:</span>
          <span>{{ message.properties.country }}</span>
        </li>
        <li>
          <span>Live url:</span>
          <!-- TODO: proner un condicional, para los que no tienen pagina -->
          <span>
            <a type="link" [href]="message.properties.liveUrl" target="_blank">www.{{ message.properties.company }}.com</a>
          </span>
        </li>
      </ul>
    </div>
  </article>
</div>