/* TODO: definie tamano y tipo de fuente para los textos */
:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    border-top: 1px solid black;
    font-size: 18px;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--grey-muted);
    align-items: center;
    z-index: 3;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin: 20px 0;
}

span, p {
    font-size: 1.1rem;
}

ul {
    display: inline;
}

li {
    margin: 0;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
    padding: .4rem;
    font-size: 1rem;
}

article {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a:hover {
    border-bottom: 1px solid var(--grey-muted);
}

.popup {
    background-color: var(--grey-light);
    position: relative;
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 250px 5% 10% 5%;
}

.popup div:nth-child(1) {
    flex: 1.3;
}

.popup div:nth-child(2) {
    min-width: 277px;
    max-width: 550px;
    flex: 1;
    margin: 1rem 2rem 1rem 0;
}


.popup ul li span:nth-child(1) {
    flex: 1;
}

.popup ul li span:nth-child(2) {
    flex: 2.2;
}

.container {
    background-color: var(--dark-muted);
    display: flex;
    align-items: center;
}

/* TODO: Ajustar una imagen, y que sea responsive */
/* .picture {
    width: 100px;
    height: 100px;
    background-color: var(--red-muted);
    min-width: inherit;
} */

