/* You can add global styles to this file, and also import other style files */
/* TODO: definir funte principal y secundarias, y su tamaño para cada seccion de la pagina */
/* TODO: agregar la configuracion, para ordener las propiedades css por alfabeto */

:root {
    --dark: #0B090A;
    --dark-muted: #161A1D;
    --red-dark: #660708;
    --red-muted: #A4161A;
    --red: #BA181B;
    --red-light: #E5383B;
    --white: #FFFFFF;
    --grey:  #D3D3D3;
    --grey-light: #F5F3F4;
    --grey-muted: #B1A7A6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--dark);
    background-color: var(--grey-light);
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}

p,
ul,
li,
body,
h1,
h2,
h3,
a {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    display: inline-flex;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border-radius: 10px;
    border: 3px double var(--grey);
    padding: .7rem;
    font-size: inherit;
    font-family: inherit;
    position: relative;
    overflow: hidden;
}

button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    left: 0;
    top: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

button:hover::after {
    transform: scaleX(1);
}

button:hover {
    border-style: solid;
}

button:active {
    border-color: var(--dark-muted); 
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.max-w-8xl {
    max-width: 96rem;
}

.text-2xl { /* Es el resultado de multiplicar la fuente base por 2 */
    font-size: 1.5625rem;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}
  
.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.underlined:hover {
    color: #D3D3D3;
}

.underlined {
    position: relative;
}

.underlined:hover::after {
    transform: scale(1);
    background-color: currentColor;
}

.underlined::after {
    content: "";
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    position: absolute;
    transform: scale(0);
    transform-origin: middle;
    transition: transform .30s ease;
}

.text-left {
    text-align: left;
}

.text-grey-muted {
    color: var(--grey-muted);
}

/* TODO: Darle margen a los h1,h2,h3 y demas textos, y secciones */